#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

.container{
  max-width: 23rem;
  background: linear-gradient(var(--dark-blue), var(--very-dark-blue));
  border-radius: 20px;
  padding: 4rem 2rem;
  text-align: left;
}

.rating-text {
  /* padding: 0 7rem; */
  margin: 0 0 2rem 0;
}

.submit-btn {
  background-color: hsl(25, 97%, 53%);
  padding: 0.6rem 8rem;
  border-radius: 25px;
  text-transform: uppercase;
}

.star-container img {
  padding: 0.7rem;
  border-radius: 20px;
  background-color: rgb(38,48,57)
}